/*----------------------------------------------
--Front Page Styling
-----------------------------------------------  */

.front-page {
	.front-page-header {
		position: relative;
		z-index: 1;
		width: 100%;
		min-height: 100vh;
		text-align: center;
		color: $color-dark;
		background-image: url('https://s3.amazonaws.com/betterstudios/eye-of-horus-header.jpg');
		background-color: rgba($color-light,1);
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
		@include overlay($color-light, 0.8);
		.header-content {
			position: relative;
			width: 100%;
			min-height: 100vh;
			padding: 0;
			text-align: center;
			.left-side {
				position: relative;
				z-index: 3;
				width: 100%;
				min-height: 100vh;
				@media(min-width:768px) {
					width: 50%;
					float: left;
				}
				.underlay {
					position: absolute;
					z-index: -1;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
					background-color: rgba($color-light, 0.3);
					@media(min-width:768px) {
						background-color: rgba($color-light, 0.8);
					}
				}
				.header-content-inner {
				        position: absolute;
				        top: 60%;
				        left: 50%;
				        transform: translateY(-50%);
				        transform: translateX(-50%);
					h1 {
					    	margin: 0 auto;
						font-family: 'Raleway';
					    	font-weight: 900;
					    	font-size: 2em;
					    	text-transform: uppercase;
						color: $color-grey;
					}
					hr {
					    	margin: 2em auto;
					}
					p {
					    	margin: 0 auto;
						font-family: 'Yanoner Kaffeesatz';
					    	font-size: 1em;
					    	font-weight: 100;
					    	text-transform: lowercase;
						color: $color-dark;
					}
				}
			}
			.right-side {
				position: absolute;
				top: 0;
				z-index: 4;
				width: 100%;
				min-height: 100vh;
				@media(min-width:768px) {
					position: relative;
					width: 50%;
					float: right;
					z-index: 4;
				}
				.container {
					width:100%;
					margin: 0;
					padding: 0;
					.carousel {
						.carousel-inner {
							.item {
								width: 100vw;
								@media(min-width:768px) {
									width: 50vw;
								}
								min-height: 100vh;
								background-color: rgba($color-light,0);
								@media(min-width:768px) {
									background-color: rgba($color-light,1);
								}
								background-image: url('https://s3.amazonaws.com/betterstudios/avacado-5000x3333px.png');
								background-size: 50%;
								background-repeat: no-repeat;
								background-position: 50% 25%;
							}
							.shop {
								position: absolute;
								top: 45%;
								width: 100%;
								text-align: center;
								@media(min-width:768px) {
									position: absolute;
									top: 50%;
									width: 100%;
									text-align: center;
								}
							}
						}
					}
				}
			}
		}
	}
	
	h1, h2, h3, h4, h5, h6 {
	    font-family: 'Raleway';
	}

	hr {
	    max-width: 4em;
	    border-color: $color-blue;
	    border-width: 0.25em;
	}
	
	hr.light {
	    border-color: $color-light;
	}
	
	a {
	    color: $color-blue;
	    -webkit-transition: all .35s;
	    -moz-transition: all .35s;
	    transition: all .35s;
	}
	
	a:hover,
	a:focus {
	    color: #eb3812;
	}
	
	
	p {
	    margin-bottom: 20px;
	    font-size: 16px;
	    line-height: 1.5;
	}
	
	.viewport {
		position: relative;
		display: table;
		height: 100vh;
	}

	.viewport-centered {
		position: relative;
		display: table-cell;
		vertical-align: middle;
	}

	.section-introduction {
		h2 {
			text-transform: uppercase;
		}
		strong {
			font-weight: 900;
		}
	}

	.bg-primary {
	    background-color: $color-blue;
	}
	
	.bg-dark {
	    color: $color-light;
	    background-color: #222;
	}
	
	.text-faded {
	    color: rgba(255,255,255,.7);
	}
	
	.white-icons a {
	    color: rgba(255,255,255,.9);
	}
	
	aside {
	    padding: 50px 0;
	}
	
	.no-padding {
	    padding: 0;
	}
	
	.section-heading {
	    margin-top: 0;
	}
	
	.call-to-action h2 {
	    margin: 0 auto 20px;
	}
	
	.text-primary {
	    color: $color-blue;
	}
	
	.no-gutter > [class*=col-] {
	    padding-right: 0;
	    padding-left: 0;
	}
	
	.btn-default {
	    border-color: $color-light;
	    color: #222;
	    background-color: $color-light;
	    -webkit-transition: all .35s;
	    -moz-transition: all .35s;
	    transition: all .35s;
	}
	
	.btn-default:hover,
	.btn-default:focus,
	.btn-default.focus,
	.btn-default:active,
	.btn-default.active,
	.open > .dropdown-toggle.btn-default {
	    border-color: #ededed;
	    color: #222;
	    background-color: #f2f2f2;
	}
	
	.btn-default:active,
	.btn-default.active,
	.open > .dropdown-toggle.btn-default {
	    background-image: none;
	}
	
	.btn-default.disabled,
	.btn-default[disabled],
	fieldset[disabled] .btn-default,
	.btn-default.disabled:hover,
	.btn-default[disabled]:hover,
	fieldset[disabled] .btn-default:hover,
	.btn-default.disabled:focus,
	.btn-default[disabled]:focus,
	fieldset[disabled] .btn-default:focus,
	.btn-default.disabled.focus,
	.btn-default[disabled].focus,
	fieldset[disabled] .btn-default.focus,
	.btn-default.disabled:active,
	.btn-default[disabled]:active,
	fieldset[disabled] .btn-default:active,
	.btn-default.disabled.active,
	.btn-default[disabled].active,
	fieldset[disabled] .btn-default.active {
	    border-color: $color-light;
	    background-color: $color-light;
	}
	
	.btn-default .badge {
	    color: $color-light;
	    background-color: #222;
	}
	
	.btn-primary {
	    border-color: $color-light;
	    color: $color-light;
	    background-color: $color-blue;
	    -webkit-transition: all .35s;
	    -moz-transition: all .35s;
	    transition: all .35s;
	}
	
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
	    border-color: #ed431f;
	    color: $color-light;
	    background-color: #ee4b28;
	}
	
	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
	    background-image: none;
	}
	
	.btn-primary.disabled,
	.btn-primary[disabled],
	fieldset[disabled] .btn-primary,
	.btn-primary.disabled:hover,
	.btn-primary[disabled]:hover,
	fieldset[disabled] .btn-primary:hover,
	.btn-primary.disabled:focus,
	.btn-primary[disabled]:focus,
	fieldset[disabled] .btn-primary:focus,
	.btn-primary.disabled.focus,
	.btn-primary[disabled].focus,
	fieldset[disabled] .btn-primary.focus,
	.btn-primary.disabled:active,
	.btn-primary[disabled]:active,
	fieldset[disabled] .btn-primary:active,
	.btn-primary.disabled.active,
	.btn-primary[disabled].active,
	fieldset[disabled] .btn-primary.active {
	    border-color: $color-blue;
	    background-color: $color-blue;
	}
	
	.btn-primary .badge {
	    color: $color-blue;
	    background-color: $color-light;
	}
	
	.btn {
	    border: 0;
	    border-radius: 300px;
	    text-transform: uppercase;
	    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	    font-weight: 700;
	}
	
	.btn-xl {
	    padding: 15px 30px;
	}
	
	::-moz-selection {
	    text-shadow: none;
	    color: $color-light;
	    background: #222;
	}
	
	::selection {
	    text-shadow: none;
	    color: $color-light;
	    background: #222;
	}
	
	img::selection {
	    color: $color-light;
	    background: 0 0;
	}
	
	img::-moz-selection {
	    color: $color-light;
	    background: 0 0;
	}
	
	body {
	    webkit-tap-highlight-color: #222;
	}
}
