/*----------------------------------------------
--Front Page Styling
-----------------------------------------------  */

.front-page-header {
        img {
                transition: all ease-out 4s;
                width: 78px;
                border: 1px solid white;
                border-radius: 40px;
        }
        img:hover {
                transform: rotate(-90deg);
        }
}
