/*----------------------------------------------
--Post Styling
-----------------------------------------------  */

.post-header {
        position: relative;
        display: table;
        width: 100%;
        margin: 0 auto;
	padding: 2em 0;
        @include overlay($color-dark, 0.8);
        .v-center {
                display: table-cell;
                vertical-align: middle;
                position: relative;
                z-index: 4;
                padding: 0 5%;
                h1 { @include animation(fade-in ease-in-out 2s 0.5s both); }
                h2 { @include animation(fade-in ease-in-out 2.4s 0.1s both); }
        }
	h1 {
		font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
		font-weight: 700;
		font-size: 65px;
		text-transform: uppercase;
	        text-align: center;
        	color: $color-light;
	}
	h3 {
		font-weight: 900;
		text-transform: lowercase;
        	color: $color-orange;
	}
	h4 {
		text-transform: uppercase;
	}
        p {
                font-size: 120%;
                @include animation(fade-in ease-in-out 2s 1s both);
        }
        img {
                transition: all ease-out 4s;
                width: 78px;
                border: 1px solid white;
                border-radius: 40px;
        }
        img:hover {
                transform: rotate(-90deg);
        }
	ul { list-style-type: none; }
        ul.keyframe-post-fader {
                li {
                        @include bg-abs;
                        opacity: 0;
                        @include animation(fade-out 9s infinite both);
                        background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/teachers-header.jpg);
                        @media (min-width: $mq-med) {
                                background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/mestre-suassuna-blurry-2000px.png);
                        }
                }
                li:nth-child(2) {
                        background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/mestre-calango-atabaque-800x1200px.jpeg);
                        @include animation-delay(6s);
                        @media (min-width: $mq-med) {
                                background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/omizumba-header.jpg);
                        }
                }
                li:nth-child(3) {
                        background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/calango-berinjela-berimbau.jpg);
                        @include animation-delay(3s);
                        @media (min-width: $mq-med) {
                                background-image: url(https://s3-ap-northeast-1.amazonaws.com/www-capoeirastudio-com/calango-desafio2016-2000x1300px.jpeg);
                        }
                }
        }
}

.author_bio {
	h4 {
		color: #5f5b5b;
	    	font-size: 18px;
    		font-weight: 400;
		margin: 2em 0;
	}
	.title-divider {
	    width: 50px;
	    height: 2px;
	    background-color: $color-orange;
	    margin: 5px 2px 5px 0.5px;
	}
	p {
	    	color: #8f8f8f;
	    	font-size: 13px;
	    	padding: 5px 0 15px;
	}
}

.sharing-btns {
	.btn {
		border-left: 1px solid #666666;
	}
	border: 1px solid #666666;
	border-radius: 3px;
	a.facebook:hover {
	    color:#fff;
	    background: #3b5998;
	}
	a.twitter:hover {
	    color:#fff;
	    background: #00aced;
	}
	a.google:hover {
	    color:#fff;
	    background: #dd4b39;
	}
	a.pinterest:hover {
	    color:#fff;
	    background: #cb2027;
	}
	a.linkedin:hover {
	    color:#fff;
	    background: #007bb6;
	}
	a.mail:hover {
	    color:#fff;
	    scale: 1.1;
	}
}

.entry-content {
	margin: 2em auto;
}
