/*----------------------------------------------
--Sidebar Styling
-----------------------------------------------  */

.sidebar {
	section {
		margin: 15px 0;
		padding: 15px 0;
		border: 1px solid $color-grey;
		text-align: center;
		.widget{
			.widget_search {
				border: none;
			}
		}
	}
}
