/*----------------------------------------------
--Sidebar Styling
-----------------------------------------------  */

.sidebar {
	section {
		margin: 15px 0;
		padding: 15px 0;
		text-align: center;
		.widget {
			border: 1px solid $color-grey;
		}
		.widget_search {
			border: none;
		}
	}
}
